<div class="page-info w-100 ms-0">
  <div class="card rounded-4">
    <a data-bs-toggle="collapse" href="#collapseBody" aria-expanded="<%= empty %>">
      <div class="card-header w-100">
        <div class="d-flex justify-content-start align-items-center">
          <div>
            <i class="fa-solid fa-chevron-down"></i>
          </div>
          <div>
            <p class="my-0 mx-3"><strong><%= @info[:title] %> - Helpful Hints</strong></p>
          </div>
        </div>
      </div>
    </a>
    <% collapse = empty ? "collapse.show collapse show" : "collapse.show collapse" %>
    <div class="<%= collapse %>" id="collapseBody">
      <div class="card-body px-3">
        <div class="card-text rounded-4 m-3 py-3 px-5">
          <div class="brief py-2">
            <p><%= @info[:brief] %></p>
          </div>
          <div class="tip-list">
            <ul>
              <% @info[:tips].each do |tip| %>
                <li><p>🐝 <%= tip %></p></li>
              <% end %>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
