<div class="page-info w-100 px-4">
  <div class="card text-bg-info">
    <a data-bs-toggle="collapse" href="#collapseBody" aria-expanded="<%= empty %>">
      <div class="card-header w-100">
        <div class="d-flex justify-content-start align-items-center">
          <div>
            <i class="fa-solid fa-circle-chevron-down"></i>
          </div>
          <div>
            <p class="my-0 mx-3"><%= @info[:title] %> - Helpful Hints</p>
          </div>
        </div>
      </div>
    </a>
    <% collapse = empty ? "collapse.show collapse show" : "collapse.show collapse" %>
    <div class="<%= collapse %>" id="collapseBody">
      <div class="card-body mx-3">
        <p class="card-text">
          <p><%= @info[:brief] %></p>
          <ul>
            <% @info[:tips].each do |tip| %>
              <li><%= tip %></li>
            <% end %>
          </ul>
        </p>
      </div>
    </div>
  </div>
</div>
