<%# ------------- Plot crop emojis in bed (max 12) ------------- %>
<% filtered_crops = bed.past_crops.where(season: season).where('extract(year from plant_date) = ?', year) %>
<% return if filtered_crops.empty? %>
<% filtered_crops.first(12).each do |crop| %>
<%# ------------- If less that 4 crops in bed ------------- %>
  <% if filtered_crops.length <= 4 %>
    <% 3.times do %>
      <!-- ------------------------------- emoji modal button -------------------------------- -->
      <h1 data-filter-planned-crops-target="crop" id="<%= bed.id %>" class="m-2" value="<%= season %>">
        <a style="text-decoration: none;" data-bs-toggle="modal" href="#historiccropmodal<%= crop.id %>" role="button"><%= crop.emoji %></a>
      </h1>
      <%= render "crop_modal", crop: crop %>
    <% end %>

  <%# ------------- If 5-6 crops in bed ------------- %>
  <% elsif filtered_crops.length <= 6 %>
    <% 2.times do %>
      <!-- ------------------------------- emoji modal button -------------------------------- -->
      <h1 data-filter-planned-crops-target="crop" id="<%= bed.id %>" class="m-2" value="<%= season %>">
        <a style="text-decoration: none;" data-bs-toggle="modal" href="#historiccropmodal<%= crop.id %>" role="button"><%= crop.emoji %></a>
      </h1>
      <%= render "crop_modal", crop: crop %>
    <% end %>

  <%# ------------- If more than 6 crops in bed ------------- %>
  <% else %>
    <!-- ------------------------------- emoji modal button -------------------------------- -->
    <h1 data-filter-planned-crops-target="crop" id="<%= bed.id %>" class="m-2" value="<%= season %>">
      <a style="text-decoration: none;" data-bs-toggle="modal" href="#historiccropmodal<%= crop.id %>" role="button"><%= crop.emoji %></a>
    </h1>
    <%= render "crop_modal", crop: crop %>
  <% end %>
<% end %>
