<!-- ------------------------------- Garden -------------------------------- -->
<div class="card my-3">
  <div class="card-header garden-header">
    <div class="d-flex justify-content-between">
      <div>
        <h2><%= garden.name %></h2>
      </div>
      <div>
        <%# ------------- Icon link to Garden Show ------------- %>
        <%= link_to ('<i class="fa-solid fa-eye"></i>').html_safe,
                garden_path(garden),
                class: "btn btn-light"
                %>
      </div>
    </div>
  </div>
  <div class="card-body garden">
    <div class="d-flex flex-wrap justify-content-around">
      <% if garden.beds %>
        <%# ------------- Iterate over beds in garden ------------- %>
        <% garden.beds.each do |bed|%>
          <div class="m-2">
            <%# ------------- Bed description badge ------------- %>
            <span class="badge rounded-4 badge-primary ms-1 mb-2"><%= bed.description %></span>
            <div class="card plot-bed">
              <div class="card-body">

                <%# ------------- Crops by season ------------- %>

                <div class="d-flex flex-wrap justify-content-around">
                  <%= render "crop_by_season", bed: bed, season: "Summer" %>
                </div>
                <div class="d-flex flex-wrap justify-content-around">
                  <%= render "crop_by_season", bed: bed, season: "Autumn" %>
                </div>
                <div class="d-flex flex-wrap justify-content-around">
                  <%= render "crop_by_season", bed: bed, season: "Winter" %>
                </div>
                <div class="d-flex flex-wrap justify-content-around">
                  <%= render "crop_by_season", bed: bed, season: "Spring" %>
                </div>
              </div>
            </div>
          </div>
        <% end %>
      <% end %>
      <%# ------------- No Beds Display ------------- %>
      <% if garden.beds.empty? %>
        <div class="card no-plot-bed" style="padding: 120px 30px;">
          <div class="align-self-center">
            <%= link_to "Get Started", garden_path(garden),
                class: "btn btn-secondary btn-sm btn-pulse-secondary" %>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>
