<h1>Pages#home</h1>
<p>Find me in app/views/pages/home.html.erb</p>
<%= render "partials/modal_newbed" %>
<%= render "partials/modal_assign_veg" %>
<%= render "partials/modal_add_veg" %>
<%= render "partials/modal_edit_crop" %>
<%= render "partials/modal_add_crop" %>
