<%= simple_form_for @veggie do |f| %>
  <%= f.input :name, label: "Veggie name (please use plural)" %>
  <div class="mb-1">
    <%= f.label :season %>
    <%= f.select :season, %w[Summer Autumn Winter Spring] %>
  </div>
  <br>
  <div class="btn btn-success">
    <%= f.button :submit, "Save Veggie", class: "text-light" %>
  </div>
<% end %>
