<!-- ------------------------------- modal1 -------------------------------- -->
<div class="modal fade" id="cropmodal<%= crop.id %>" aria-hidden="true" aria-labelledby="cropmodal<%= crop.id %>" tabindex="-1">
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content" style="background-color: transparent; border: none;">
        <div class="d-flex justify-content-center">
          <%= render "gardens/crop", crop: crop %>
        </div>
      </div>
    </div>
</div>


<%# ------  overview page behaviour -------- %>
<% if crop.planted? %>
<div class="mx-2">
  <!-- ------------------------------- progress bar  -------------------------------- -->
  <div class="d-flex row justify-content-start" style="width: 70px;">
    <div class="d-flex justify-content-end" style="padding-right: 1px;">
      <div class="progress crop-progress" style="width: 65%; height: 7px; opacity: .9;">
        <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" aria-valuenow="<%= crop.progress %>" aria-valuemin="0" aria-valuemax="100" style="width: <%= crop.progress %>%;"></div>
      </div>
    </div>

    <!-- ------------------------------- emoji modal button  -------------------------------- -->
    <h1 id="<%= bed.id %>" class="mb-3 ps-10" value="<%= season %>">
      <a style="text-decoration: none;" data-bs-toggle="modal" href="#cropmodal<%= crop.id %>" role="button"><%= crop.emoji %></a>
    </h1>
  </div>
</div>

<%# ------  plans page emoji modal button -------- %>
<% elsif current_page?(plans_path) %>
  <h1 id="<%= bed.id %>" data-filter-planned-crops-target="crop" class="m-2" value="<%= season %>">
    <a style="text-decoration: none;" data-bs-toggle="modal" href="#cropmodal<%= crop.id %>" role="button"><%= crop.emoji %></a>
  </h1>

<%# ------  history page emoji modal button -------- %>
<% else %>
  <h1 id="<%= bed.id %>" class="m-2" value="<%= season %>">
    <a style="text-decoration: none;" data-bs-toggle="modal" href="#cropmodal<%= crop.id %>" role="button"><%= crop.emoji %></a>
  </h1>
<% end %>
