<%=turbo_frame_tag dom_id(bed, :new_crop_form) do %>
  <%= simple_form_for [bed, crop], data: { controller: "turboform" } do |f| %>
    <div>
      <%= f.association :veggie, collection: Veggie.all.order(:name) %>
    </div>
    <%= f.input :quantity %>
    <%= f.input :weeks_to_harvest %>
    <div class="mb-1">
      <%= f.label :season %>
    </div>
    <div class="mb-3" data-action="change->crop-form#seasonSelected">
      <%= f.select :season, %w[Summer Autumn Winter Spring],
                  selected: @season %>
    </div>
    <div class="mb-1">
      <%= f.label :emoji %>
    </div>
    <div class="">
      <%= f.select :emoji, EMOJI_ARRAY %>
    </div>
    <br>
    <div style="margin: bottom 0;" data-action="change->crop-form#plantedChange">
      <%= f.input :planted,
                  label: "Has the crop been planted?",
                  as: :radio_buttons,
                  collection: [['Yes', true], ['No', false]],
                  checked: ['No', false] %>
    </div>
    <div class="d-none" data-crop-form-target="date">
      <%= f.input :plant_date,
                  as: :date,
                  include_blank: true,
                  selected: nil,
                  start_year: Date.today.year - 2,
                  end_year: Date.today.year %>
    </div>
    <br>
    <%= f.input :comment,
                label: "Comments" %>
    <div class="d-none">
      <%= f.association :bed,
                        label_method: :description,
                        include_blank: false,
                        selected: bed.id %>
    </div>
    <div class="btn btn-success rounded-4">
      <%= f.button :submit, "Save Crop", class: "text-light" %>
    </div>
  <% end %>
<%end%>
