<% require_relative '../../../db/crop_emojis' %>

<div class="card my-3">
  <div class="card-header bed-header">
    <div class="d-flex justify-content-between">
      <div>
        <h2><%= bed.description %></h2>
      </div>
      <div>
        <%# ------------- Edit Bed Button ------------- %>
        <%= link_to ('<i class="fa-solid fa-pencil"></i>').html_safe, edit_bed_path(bed), class:"btn btn-light" %>

        <%# ------------- Delete Bed Button ------------- %>
        <%= link_to ('<i class="fa-solid fa-trash-can"></i>').html_safe,
                bed,
                data: {turbo_method: :delete, turbo_confirm: "Are you sure?" },
                class: "btn btn-light"
              %>
      </div>
    </div>
  </div>

  <%# ------------- Crop Cards ------------- %>
  <div class="card-body bed-card">
    <h5 class="card-title">Crops</h5>
    <div class="d-flex justify-content-start flex-wrap flex-row">
        <% bed.crops.each do |crop| %>
        <%= render "crop", crop: crop %>
        <% end %>
    </div>
    <%# ------------- Button ------------------ %>
    <a class="btn btn-primary" data-bs-toggle="modal" href="#addcropmodal<%= bed.id %>" role="button">Add new Crop</a>

    <%# ------------- Modal for adding a crop ------------------ %>
    <div class="modal fade" id="addcropmodal<%= bed.id %>" aria-hidden="true" aria-labelledby="addcropmodal<%= bed.id %>" tabindex="-1">
      <div class="modal-dialog modal-xl modal-dialog-centered">
        <div class="modal-content">
          <div class="modal-header">
            <h1 class="modal-title fs-5" id="addcropmodal<%= bed.id %>"><%= bed.description %> - Add a Crop</h1>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
            <div class="container-fluid">
              <div class="row">
                <%= simple_form_for @crop do |f| %>
                  <%# TODO: implement the following when TAs are available %>
                  <%# <%= f.association :veggie, as: :select2, collection: Veggie.all %>
                  <%= f.association :veggie %>
                  <%= f.input :quantity %>
                  <%= f.input :duration %>
                  <%= f.label :emoji %>
                  <%= f.select :emoji, EMOJI_ARRAY %>
                  <%= f.input :comment %>
                  <div class="d-none">
                    <%= f.association :bed, label_method: :description, include_blank: false, selected: bed.id %>
                  </div>
                  <%= f.button :submit %>
                <% end %>
              </div>
            </div>
          </div>
          <div class="modal-footer">
            <p>Don't see the Veggie you want?</p>
            <button class="btn btn-primary" data-bs-target="#addveggiemodal" data-bs-toggle="modal">Add new Veggie</button>
          </div>
        </div>
      </div>
    </div>

    <%# ------------- Modal for adding a veggie ------------------ %>
    <div class="modal fade" id="addveggiemodal" aria-hidden="true" aria-labelledby="addveggiemodal" tabindex="-1">
      <div class="modal-dialog modal-xl modal-dialog-centered">
        <div class="modal-content">
          <div class="modal-header">
            <h1 class="modal-title fs-5" id="addveggiemodal">Create new Veggie</h1>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
            <div class="container-fluid">
              <div class="row">
                <%= render "veggies/veggie_form" %>
              </div>
            </div>
          </div>
          <div class="modal-footer">
            <%# TODO: fix this back button, may be easier to close instead - worse UI though %>
            <button class="btn btn-primary" data-bs-target="#addcropmodal<%= bed.id %>" data-bs-toggle="modal">Back</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
