<% require_relative '../../../db/crop_emojis' %>

<div class="card my-4">
  <div class="card-header">
    <div class="d-flex justify-content-between">
      <div>
        <h2><%= bed.description %></h2>
      </div>

      <%# Menu button %>
      <div class="btn-group dropdown">
        <button type="button" class="btn btn-light" data-bs-toggle="dropdown" aria-expanded="false">
          <i class="fa-solid fa-bars text-success" style="font-size: 22px;"></i>
        </button>
        <ul class="dropdown-menu" style="min-width: 130px;">

          <%# ------------- Edit Bed Button ------------- %>
          <li>
            <%= link_to ('<i class="fa-solid fa-pencil"></i> Edit Bed').html_safe, edit_bed_path(bed), class:"btn btn-light" %>
          </li>

          <%# ------------- Delete Bed Button ------------- %>
          <li>
            <%= link_to ('<i class="fa-solid fa-trash-can"></i> Delete Bed').html_safe,
                bed,
                data: {turbo_method: :delete, turbo_confirm: "Are you sure?" },
                class: "btn btn-light"
              %>
          </li>
        </ul>
      </div>
    </div>
  </div>

  <div class="card-body bed-card">

    <%# ------------- Add Crop Button ------------------ %>
    <div class="d-flex justify-content-end">
      <a class="btn btn-info shadow-sm m-2 <%= "btn-pulse-primary" if bed.planted_crops.empty? && bed.future_crops.empty? %>" data-bs-toggle="modal" href="#addcropmodal<%= bed.id %>" role="button">Add Crop</a>
    </div>
    <%# <div class="secondary-card-container"> %>
    <%# ------------- Planted Crop Cards ------------- %>
    <div class="d-flex justify-content-start flex-wrap flex-row">
        <% bed.planted_crops.order(:season).each do |crop| %>
          <%= render "crop", crop: crop %>
        <% end %>
    </div>

    <%# ------------- Unplanted Crop Cards ------------- %>
    <div class="d-flex justify-content-start flex-wrap flex-row">
        <% bed.future_crops.order(:season).each do |crop| %>
          <%= render "crop", crop: crop, bed: bed %>
        <% end %>
    </div>
    <%# </div> %>
    <%# ------------- Modal for adding a crop ------------------ %>
    <div class="modal fade" id="addcropmodal<%= bed.id %>" aria-hidden="true" aria-labelledby="addcropmodal<%= bed.id %>" tabindex="-1">
      <div class="modal-dialog modal-lg modal-dialog-centered">
        <div class="modal-content rounded-4">
          <div class="modal-header">
            <h1 class="modal-title fs-5" id="addcropmodal<%= bed.id %>"><%= bed.description %> - Add Crop</h1>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
            <div class="container-fluid">
              <div class="row" data-controller="crop-form">

                <%# ------- Add crop form ------- %>
                <div class="col">
                  <div class="rounded-4 shadow p-3" style="max-width: 30rem;">
                    <%= render "crops/new", bed: bed, crop: @crop %>
                  </div>
                </div>

                <%# -------- Seasonal Recomendation ------- %>
                <div class="col seasonal-container d-flex flex-column justify-content-between">
                  <% @veggie_lists_by_season.each do |list| %>
                    <div class="seasonal-card <%= list.first.season.downcase %> <%= "d-none" unless list.first.season == @season %>"
                        data-crop-form-target="<%= list.first.season.downcase %>">
                      <div class="card shadow rounded-4 mx-2 overflow-hidden border-0" style="max-width: 22rem;">
                        <div class="card-header crop_card_header border-0">
                          <div class="d-flex justify-content-around">
                            <h3 class="season-title text-centre mt-2 mb-0"><%= @seasonal_titles[list.first.season.to_sym] %></h3>
                          </div>
                        </div>
                        <div class="card-body crop_card_body card-bg">
                          <div class="border-0">
                            <div class="rounded-4 card-body card-fg">
                              <div class="copy-bubble rounded-4 m-2 p-3">
                                <em><p class="mb-0">In the month of <%= list.first.season %>, we suggest planting the following:</p></em>
                              </div>
                              <ul>
                                <% list.each do |veggie| %>
                                  <li class="card-text"><i class="fa-regular fa-circle-small"></i>- <%= veggie.name %></li>
                                <% end %>
                              </ul>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  <% end %>

                  <%# ------- Add a new Veggie -------- %>
                  <div class="add-veggie rounded-4 shadow mt-auto mx-2 p-2">
                    <div class="d-flex flex-row justify-content-between align-items-center my-1">
                      <div>
                        <em><p class="m-0 px-2">Can't find the Veggie you're looking for?</p></em>
                      </div>
                      <button class="btn btn-primary rounded-4" data-bs-target="#addveggiemodal" data-bs-toggle="modal">Add Veggie</button>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <%# ------------- Modal for adding a veggie ------------------ %>
    <div class="modal fade" id="addveggiemodal" aria-hidden="true" aria-labelledby="addveggiemodal" tabindex="-1">
      <div class="modal-dialog modal-xl modal-dialog-centered">
        <div class="modal-content">
          <div class="modal-header">
            <h1 class="modal-title fs-5" id="addveggiemodal">Add Veggie</h1>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
            <div class="container-fluid">
              <div class="row">
                <%= render "veggies/veggie_form" %>
              </div>
            </div>
          </div>
          <div class="modal-footer">
            <%# TODO: fix this back button, may be easier to close instead - worse UI though %>
            <button class="btn btn-warning border" data-bs-target="#addcropmodal<%= bed.id %>" data-bs-toggle="modal"><i class="fa-regular fa-hand-point-left"></i> Back</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
