<div class="card border-0 m-2" style="max-width: 18rem;">
  <div class="card-header crop_card_header">
    <div class="d-flex justify-content-between">
      <h3 class="text-centre"><%= crop.emoji %></h3>
      <h3>
        <%# Button for editing crop %>
        <a class="btn btn-light" data-bs-toggle="modal" href="#editcropmodal<%= crop.id %>"><i class="fa-solid fa-pencil h-60"></i></a>
        <%# Button for deleting crop %>
        <%= link_to ('<i class="fa-solid fa-trash-can"></i>').html_safe,
          crop,
          data: {turbo_method: :delete, turbo_confirm: "Are you sure?" },
          class: "btn btn-light"
        %>
      </h3>
    </div>
  </div>
  <div class="card-body crop_card_body">
    <div class="card border-0 rounded">
      <div class="card-body">
        <h5 class="card-title mb-4"><%= crop.veggie.name %></h5>
        <% if crop.comment.present? %>
          <p class="card-text">Notes: <em class="text-muted"><%= crop.comment %></em></p>
        <% end %>
        <% if crop.plant_date %>
          <p class="card-text">Date planted: <em class="text-muted"><%= crop.plant_date.to_fs(:long_ordinal) %></em></p>
        <% end %>
        <p class="card-text">Weeks left until harvest: <em class="text-muted"><%= crop.weeks_to_harvest %></em></p>
        <p class="card-text">Quantity: <em class="text-muted"><%= crop.quantity %></em></p>
        <%# ADD BUTTON TO PLANT %>
      </div>
    </div>
  </div>

  <%# ------------- Modal for editing a crop ------------------ %>
  <div class="modal fade" id="editcropmodal<%= crop.id %>" aria-hidden="true" aria-labelledby="editcropmodal<%= crop.id %>" tabindex="-1">
    <div class="modal-dialog modal-xl modal-dialog-centered">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="editcropmodal<%= crop.id %>"><%= crop.veggie.name %> - Edit Crop</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <div class="container-fluid">
            <div class="row">
            <%# THIS FORM WILL BE REPLACED - PLEASE DO NOT WORRY TO MUCH ABOUT STYLING %>
              <%= simple_form_for crop do |f| %>
                <%= f.association :veggie %>
                <%= f.input :quantity %>
                <%= f.input :weeks_to_harvest %>
                <%= f.label :emoji %>
                <div class="pb-3">
                  <%= f.select :emoji, EMOJI_ARRAY %>
                </div>
                <%= f.input :plant_date, label: "Plant date (please note all dates must be no later than today)" %>
                <%# input for planted will be removed from this form once crop#edit in implemented %>
                <br>
                <%= f.input :planted, label: "Has the crop been planted?", input_html: { checked: true } %>
                <br>
                <%= f.label :season %>
                <div class="pb-3">
                  <%= f.select :season, %w[Summer Autumn Winter Spring] %>
                </div>
                <%= f.input :comment %>
                <%# <div class="d-none"> %>
                  <%# <%= f.association :bed, label_method: :description, include_blank: false, selected: bed.id %>
                <%# </div> %>
                <div class="btn btn-primary">
                  <%= f.button :submit, "Save Crop" %>
                </div>
              <% end %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

</div>
