<div class="card border-0 m-2 crop-card">
  <div class="card-header crop-card-header">
    <div class="d-flex justify-content-between">
      <h3 class="text-centre"><%= crop.emoji %></h3>
      <h3>
        <%# Menu button %>
        <div class="btn-group dropend">
          <button type="button" class="btn btn-light" data-bs-toggle="dropdown" aria-expanded="false">
            <i class="fa-solid fa-bars text-success"></i>
          </button>
          <ul class="dropdown-menu" style="min-width: 130px;">

            <%# Button for editing crop %>
            <li>
              <a class="dropdown-item btn btn-light" data-bs-toggle="modal" href="#editcropmodal<%= crop.id %>"><i class="fa-solid fa-pencil h-60"></i> Edit crop</a>
            </li>

            <%# Button for deleting crop %>
            <li>
              <%= link_to ('<i class="fa-solid fa-trash-can"></i> Delete crop').html_safe,
                crop,
                data: {turbo_method: :delete, turbo_confirm: "Are you sure?" },
                class: "dropdown-item btn btn-light"
              %>
            </li>
          </ul>
        </div>
      </h3>
    </div>
  </div>
  <div class="card-body crop-card-body">
    <div class="card border-0 rounded">
      <div class="card-body">

        <%# Veggie name and season badge %>
        <div class="d-flex justify-content-between pb-2 <%= crop.season.downcase %>">
          <h5 class="card-title mb-1"><%= crop.veggie.name %></h5>

          <%# ---- added badge but currently commented out because I'm not sure about it ---%>
          <span class="badge mb-2"><%= crop.season %> </span>
        </div>

        <%# progress bar %>
        <% if crop.planted? %>
          <div class="d-flex justify-content-between">
            <div class="progress mb-3" style="width: 204px;">
              <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" aria-valuenow="<%= crop.progress %>" aria-valuemin="0" aria-valuemax="100" style="width: <%= crop.progress %>%"></div>
            </div>
            <i class="fa-solid fa-circle-info text-success ml-2" data-toggle="tooltip" data-placement="top" title="<%= crop.time_left_to_harvest %>"></i>
          </div>
        <% else %>
          <div class="mb-3"></div>
        <% end %>

        <p class="card-text">Quantity: <em class="text-muted"><%= crop.quantity %></em></p>
        <% if crop.plant_date %>
          <p class="card-text">Date planted: <em class="text-muted"><%= crop.plant_date.to_fs(:long_ordinal) %></em></p>
        <% end %>
        <% if crop.harvested? %>
          <p class="card-text"><em class="text-muted">Harvested</em></p>
        <% end %>
        <% if crop.comment.present? %>
          <p class="card-text">Notes: <em class="text-muted"><%= crop.comment %></em></p>
        <% end %>

        <%# button to plant crop %>
        <% unless (crop.planted || crop.plant_date) %>
          <div class="btn btn-primary w-100">
            <%= link_to 'Plant!', plant_crop_path(crop) %>
          </div>
        <% end %>

        <%# button to harvest crop %>
        <% if crop.planted %>
          <div class="btn btn-primary w-100">
            <%= link_to 'Harvest!', harvest_crop_path(crop) %>
          </div>
        <% end %>
      </div>
    </div>
  </div>

  <%# ------------- Modal for editing a crop ------------------ %>
  <div class="modal fade" id="editcropmodal<%= crop.id %>" aria-hidden="true" aria-labelledby="editcropmodal<%= crop.id %>" tabindex="-1">
    <div class="modal-dialog modal-xl modal-dialog-centered">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="editcropmodal<%= crop.id %>"><%= crop.veggie.name %> - Edit Crop</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <div class="container-fluid">
            <div class="row">
            <%# THIS FORM WILL BE REPLACED - PLEASE DO NOT WORRY TO MUCH ABOUT STYLING %>
              <%= simple_form_for crop do |f| %>
                <%= f.association :veggie %>
                <%= f.input :quantity %>
                <%= f.input :weeks_to_harvest %>
                <%= f.label :emoji %>
                <div class="pb-3">
                  <%= f.select :emoji, EMOJI_ARRAY %>
                </div>
                <%= f.input :plant_date, label: "Plant date (please note all dates must be no later than today)" %>
                <%# input for planted will be removed from this form once crop#edit in implemented %>
                <br>
                <%= f.input :planted, label: "Has the crop been planted?", input_html: { checked: true } %>
                <br>
                <%= f.label :season %>
                <div class="pb-3">
                  <%= f.select :season, %w[Summer Autumn Winter Spring] %>
                </div>
                <%= f.input :comment %>
                <%# <div class="d-none"> %>
                  <%# <%= f.association :bed, label_method: :description, include_blank: false, selected: bed.id %>
                <%# </div> %>
                <div class="btn btn-primary">
                  <%= f.button :submit, "Save Crop" %>
                </div>
              <% end %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

</div>
