<div class="card border-0 m-2" style="max-width: 18rem;">
  <div class="card-header crop_card_header">
    <div class="d-flex justify-content-between">
      <h3 class="text-centre"><%= crop.emoji %></h3>
      <h3>
        <%# Button for editing crop %>
        <a class="btn btn-light" data-bs-toggle="modal" href="#editcropmodal<%= crop.id %>"><i class="fa-solid fa-pencil h-60"></i></a>
        <%# Button for deleting crop %>
        <%= link_to ('<i class="fa-solid fa-trash-can"></i>').html_safe,
          crop,
          data: {turbo_method: :delete, turbo_confirm: "Are you sure?" },
          class: "btn btn-light"
        %>
      </h3>
    </div>
  </div>
  <div class="card-body crop_card_body">
    <div class="card border-0 rounded">
      <div class="card-body">
        <h5 class="card-title mb-4"><%= crop.veggie.name %></h5>
        <% if crop.comment.present? %>
          <p class="card-text">Notes: <em class="text-muted"><%= crop.comment %></em></p>
        <% end %>
        <% if crop.plant_date %>
          <p class="card-text">Date planted: <em class="text-muted"><%= crop.plant_date.to_fs(:long_ordinal) %></em></p>
        <% end %>
        <% if crop.harvested? %>
          <p class="card-text"><em class="text-muted">Harvested</em></p>
        <% else %>
          <p class="card-text">Weeks left until harvest: <em class="text-muted"><%= crop.weeks_to_harvest %></em></p>
        <% end %>
        <p class="card-text">Quantity: <em class="text-muted"><%= crop.quantity %></em></p>
        <%# button to plant crop %>
        <% unless (crop.planted || crop.plant_date) %>
          <div class="btn btn-primary">
            <%= link_to 'Plant!', plant_crop_path(crop) %>
          </div>
        <% end %>
        <%# button to harvest crop %>
        <% if crop.planted %>
          <div class="btn btn-primary">
            <%= link_to 'Harvest!', harvest_crop_path(crop) %>
          </div>
        <% end %>
      </div>
    </div>
  </div>

</div>
