<div class="card my-3">
  <div class="card-header">
    <div class="d-flex justify-content-between">
      <div>
        <h2><%= link_to garden.name, garden_path(garden) %></h2>
      </div>
      <div>
        <%= render "partials/modal_edit_garden", garden: garden %>
        <%= link_to ('<i class="fa-solid fa-trash-can"></i>').html_safe,
                garden,
                data: {turbo_method: :delete, turbo_confirm: "Are you sure you want to delete this garden?" },
                class: "btn btn-light"
                %>
      </div>
    </div>
  </div>
  <div class="card-body garden">
    <div class="d-flex flex-wrap justify-content-around">
      <% garden.beds.each do |bed|%>
        <div class="card bed m-2" data-toggle="tooltip" data-placement="top" title="<%= bed.description %>">
          <div class="card-body">
            <div class="d-flex flex-wrap justify-content-around">
              <% bed.crops.each do |crop| %>
                <% 3.times do %>
                  <h2 class="m-2">
                    <%= crop.veggie.emoji %>
                  </h2>
                <% end %>
              <% end %>
            </div>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>
