<%=turbo_frame_tag dom_id(@garden, :new_bed_form) do %>
  <%= simple_form_for [@garden, @bed], data: {modal_target: 'form'} do |f| %>
    <%= f.error_notification %>
    <%= f.object.errors.full_messages.join(", ") if f.object.errors.any? %>

    <div class="form-input">
      <%= f.input :description, error: "DEscription can't be empty" %>
    </div>
    <div class="form-input">
      <%= f.input :length, error: "Length has to a number above 0" %>
    </div>
    <div class="form-input">
      <%= f.input :width %>
      <%= f.error :width, class: 'text-danger' %>
    </div>
    <div class="form-input">
      <div class="form-actions">
        <div class="col-lg-12 mb-0">
          <div class="d-grid"> <%= f.button :button, "Save Bed", class: "btn btn-primary" %></div>
        </div>
      </div>
    </div>
  <% end %>
<%end%>
