<%= simple_form_for [@garden, @bed] do |f| %>
  <%= f.error_notification %>
  <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>
  <div class="form-input">
    <%= f.input :description %>
  </div>
  <div class="form-input">
    <div class="form-actions">
      <div class="col-lg-12 mb-0">
        <div class="d-grid"> <%= f.button :submit, "Save Bed", class: "btn btn-primary" %></div>
      </div>
    </div>
  </div>
<% end %>
