<h2>Update Bed</h2>
<%= simple_form_for @bed do |f| %>
  <%= f.error_notification %>
  <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>
  <div class="form-input">
    <%= f.input :description %>
  </div>
  <%= f.button :submit, "Update Bed", class: "btn btn-primary" %>

<%end%>
